/* * {
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    margin: 0;
} */

body {
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#gameDiv {
    position: relative;
    display: inline-block;
}

#UIcontainer {
    position: absolute;
    color: white;
    display: inline-block;
    text-align: center;
    width: 100%;
}

#start-btn {
    margin-top: 50px;
}

p {
    text-shadow: 1px 1px 3px hsla(0, 0%, 0%, 0.822);
    font-size: 2rem;
}